[submodule "legacy/apps/nodeutil"]
	path = legacy/apps/nodeutil
	url = https://github.com/pharmavillage/nodeutil.git
[submodule "legacy/servers/webrtc"]
	path = legacy/servers/webrtc
	url = https://github.com/pharmavillage/webrtc.git
[submodule "legacy/apps/kafka"]
	path = legacy/apps/kafka
	url = https://github.com/pharmavillage/kafka.git
[submodule "legacy/servers/websocket"]
	path = legacy/servers/websocket
	url = https://github.com/pharmavillage/websocket.git
[submodule "legacy/apps/docs"]
	path = legacy/apps/docs
	url = https://github.com/pharmavillage/docs.git
[submodule "legacy/servers/api"]
	path = legacy/servers/api
	url = https://github.com/pharmavillage/api.git
[submodule "devenv"]
	path = devenv
	url = https://github.com/pharmavillage/devenv.git
[submodule "rsp-mf-cdn/ui"]
	path = rsp-mf-cdn/ui
	url = https://github.com/pharmavillage/ui.git